body {
	background: url('images/abe.jpg') no-repeat center center fixed;
	-webkit-background background-size: cover;
	-moz-background background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Georgia, serif
	color: black;
}

h1 {
	font-weight: 800;
	font-size: 32px;
	margin-bottom: 8px;
}

h2 {
	font-size: 24px
}

.container {
	background-color: rgba(255, 255, 255, 0.20;
	margin-left: 60px;
	padding: 50px 64 px;
	width: 560 px;
	min-height: 800px;
}

.personal-statement {
	margin-top: 24px;
	margin-bottom: 24px;
}

.personal-statement p {
	line-height: 1.3;
	margin: 16px 0;

.lists {
	margin-bottom: 48px;
	overflow: hidden;
}	

list-box {
	float: left;
	width: 50%
}

.list-box h3 {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 600px;
}

.list-box ul {
	padding-left: 18px;
	list-style: disc outside none;
}

.list-box ul li {
	padding-left: 3px;
	margin-bottom: 12px;
}